@import '../../styles/shared.scss';

.ui.menu.top-menu {
    border: none; /*Removes semantic UI's botom border*/
    
    .logo{
        width: $sidebar-left-width;
    }

    .header-icon{
        color: #a0a0a0;
    }
    
    .nav-container{
        justify-content: space-between; /*Maximise space between elements*/
        flex-grow: 1; /* take available space in the flex container */
        padding: 0;

        .search-input{
            padding-left:0;
            width:33%;

            form{
                width: 100%;
            }
        }
    }
}