@import '../../styles/shared.scss';

.home{
    margin-top: $header-nav-height;
    margin-left: $sidebar-left-width;
    display: grid;
    grid: auto / auto;
    justify-content: center;
}

@media all and (min-width: 476px){
    .reseponsive-video-grid-container{
        max-width: 240px;
    }
}

@media all and (min-width: 700px){
    .reseponsive-video-grid-container{
        max-width: 472px;
    }
}

@media all and (min-width: 900px){
    .reseponsive-video-grid-container{
        max-width: 667px;
    }
}

@media all and (min-width: 1096px){
    .reseponsive-video-grid-container{
        max-width: 864px;
    }
}

@media all and (min-width: 1370px){
    .reseponsive-video-grid-container{
        max-width: 1096px;
    }
}

@media all and (min-width: 1560px){
    .reseponsive-video-grid-container{
        max-width: 1284px;
    }
}